{% extends "base.html" %}

{% block content %}
    <p class="title">به رستوران فلاح خوش آمدید. با کلیک روی هر غذا می توانید از جزییات مربوط به آن آگاه شوید و در صورت علاقه غذای مورد نظرتان را سفارش دهید.</p>
    <div class="images">
        <a href=""><img src="imgs/kebab/3.jpg" alt=""></a>
        <a href=""><img src="imgs/kebab/4.jpg" alt=""></a>
        <a href=""><img src="imgs/macaroni/3.jpg" alt=""></a>
        <a href=""><img src="imgs/omlet/3.jpg" alt=""></a>
        <a href=""><img src="imgs/pizza/2.jpg" alt=""></a>
    </div>
{% endblock content %}
    