{% extends "_base.html" %}

{% load static %}

{% block title %}
درباره رستوران فلاح
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock css %}

{% block background_image %}
    <img class="background" src="{% static 'imgs/backgrounds/background.jpg' %}" alt="a picture">
{% endblock background_image %}


{% block content %}
    <h2>درباره رستوران فلاح</h2>
    <div class="main">
        <p>
            رستوران فلاح در سال ۱۳۸۸ آغاز به کار نمود و در ابتدا فقط غذاهای سنتی را به مردم ارایه مینمود. در ابتدای کار فروش خوبی داشت. اما پس از چند ماهی کاهش چشمگیری در مشتریان و تعداد سفارش ها مشاهده شد.
        </p>
        <p>
            پس از آن این رستوران به غذاهای فست فود روی آورده و چند ماهی فروش خیلی خوبی داشت. اما با گذشت چند ماه دیگر نیز فروش کاهش یافت و مقرون به صرفه نبود.
        </p>
        <p>
            در دور سوم این رستوران به منوی صبحانه روی آورده فروش خوبی داشت. اما سود خوبی در غذاهایی که برای صبحانه سرو میشد وجود نداشت. از این رو این رستوران چند سالی کار خدماتی سرو غذا برای مشتریان را رها کرده و چند سالی رستوران تعطیل بود.
        </p>
        <p>
            مجددا در سال ۱۳۹۹ رستوران کار خود را از سر گرفت و با توجه به تنوع مشتریان و نیاز آنها، رستوران تصمیم گرفت که از انواع گوناگون غذاها پشتیبانی کند و همه غذاها را برای مشتریان خود سرو نماید.
        </p>
        <p>
            به همین جهت شما میتوانید تنوع کاملی از غذاهای گوناگون را مشاهده نمایید. از قبیل منوی صبحانه، منوی ناهار و شام، منوی فست فود، منوی غذای ایرانی و منوی نوشیدنی های گوناگون
        </p>
        <p>
            علاوه بر این، با توجه به رشد چشمگیر ارتباطات اجتماعی و شبکه های اجتماعی، بر آن شدیم تا یک سایت برای رستوران فلاح تهیه کنیم تا مشتریان بتوانند با ثبت سفارش آنلاین، غذای خود را به صورت اینترنتی سفارش داده و غذا را در درب منزل تحویل بگیرند. همچنین میتوانید رستوران ما را در شبکه های اجتماعی گوناگون دنبال کنید و از فعالیت های ما آگاه شوید.
        </p>
        <p>
            امیدواریم که با اعمال این روش و پیروی از تکنولوژی های روز، موفقیت مورد انتظار را کسب نموده و به مدت طولانی به مشتریان عزیز خدمت رسانی نماییم.
        </p>
    </div>
{% endblock content %}
