{% extends "_base.html" %}

{% load static %}

{% block title %}
ارسال موفقیت آمیز پیام
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
{% endblock css %}

{% block background_image %}
    <img class="background" src="{% static 'imgs/backgrounds/background.jpg' %}" alt="a picture">
{% endblock background_image %}


{% block content %}
    <hr>
    <p>{{ name }} عزیز، پیغام شما با موفقیت ارسال شد.</p>
    <p>متن پیام دریافت شده:</p>
    <p>{{ text }}</p>
    <p>با تشکر از پیام ارزشمند شما.</p>
{% endblock content %}
