{% extends "_base.html" %}

{% load static %}

{% block title %}خانه{% endblock title %}

{% block background_image %}
    <img class="background" src="{% static 'imgs/backgrounds/background.jpg' %}" alt="">
{% endblock background_image %}

{% block content %}
    <p class="title">به رستوران فلاح خوش آمدید. با کلیک روی هر غذا می توانید از جزییات مربوط به آن آگاه شوید و در صورت علاقه غذای مورد نظرتان را سفارش دهید.</p>
    <div class="images">
        {% for food in foods %}
            <a href="{{ food.get_absolute_url }}"><img src="{{ food.image.url }}" alt="a picture"></a>
        {% endfor %}
    </div>
{% endblock content %}
