{% extends "_base.html" %}

{% block title %}حذف پست {{ post.title }} {% endblock title %}

{% block content %}
<div class="col-8 mx-3">
    <div class="container mt-5 p-4 shadow-lg">
        <h1>آیا از حذف پست {{ post.title }} مطمئنید؟</h1>
        <form action="" method="post">
            {% csrf_token %}
            <a class="btn btn-info mt-4 me-4" href="{{ post.get_absolute_url }}">خیر. بازگشت به جزییات پست</a>
            <button type="submit" class="btn btn-danger mt-4 me-4">بله. مطمئنم.</button>
        </form>
    </div>
</div>
{% endblock content %}