{% extends "_base.html" %}

{% block title %}جزییات پست {{ post.title }} {% endblock title %}

{% block content %}
<div class="col-8 mx-3">
    <div class="container mt-5 p-4 shadow-lg">
        <h1><a href="#" class="text-decoration-none text-info">{{ post.title }}</a></h1>
        <hr>
        <p>{{ post.description }}</p>
        <hr>
        <h6 class="text-muted small">نویسنده: {{ post.author }}</h6>
        <h6 class="text-muted small">تاریخ ایجاد: {{ post.datetime_created }}</h6>
        <h6 class="text-muted small">تاریخ آخرین ویرایش:  {{ post.datetime_modified }}</h6>
        <h6 class="text-muted small">🧡{{ post.likes }}</h6>
    </div>
    <div class="container mt-5 p-4 shadow">
        <h4 class="mt-4">فلانی گفته:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloribus facere, eaque
            reprehenderit, voluptatem consectetur fugiat ad vel labore rem voluptates, quis quo ipsum
            soluta. Soluta dolore fuga eos ducimus.</p>
        <hr>
        <h4 class="mt-4">فلانی گفته:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloribus facere, eaque
            reprehenderit, voluptatem consectetur fugiat ad vel labore rem voluptates, quis quo ipsum
            soluta. Soluta dolore fuga eos ducimus.</p>
        <hr>
        <h4 class="mt-4">فلانی گفته:</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi doloribus facere, eaque
            reprehenderit, voluptatem consectetur fugiat ad vel labore rem voluptates, quis quo ipsum
            soluta. Soluta dolore fuga eos ducimus.</p>
    </div>
    <div class="container mt-5 p-4 shadow-lg">
        <form>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="name">نام</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="نام"
                        required>
                </div>
                <div class="form-group col-md-5">
                    <label for="email">ایمیل</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ایمیل">
                </div>
            </div>
            <div class="form-group">
                <label for="address">آدرس</label>
                <input type="text" class="form-control" id="inputAddress" , name="address"
                    placeholder="خیابان شریعتی کوچه پنجم ...">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="city">شهر</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="رشت">
                </div>
                <div class="form-group col-md-4">
                    <label for="state">استان</label>
                    <select id="inputState" name="state" class="form-control">
                        <option selected>انتخاب کنید</option>
                        <option value="تهران">تهران</option>
                        <option value="گیلان">گیلان</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="zipcode">کد پستی</label>
                    <input type="text" class="form-control" id="zipcode" name="zipcode"
                        placeholder="11111-11111" min="11" max="11" pattern="[0-9]{5}-[0-9]{5}">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="hide_name">
                        <input class="form-check-input" type="checkbox" id="hide_name" name="hide_name"
                            checked>
                        نام من در سایت نمایش داده نشود و با نام ناشناس نظر من ثبت شود
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success mt-4 me-4">ارسال نظر</button>
        </form>
    </div>
</div>
{% endblock content %}