{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}جزییات پست {{ post.title }} {% endblock title %}

{% block content %}
<div class="col-8 mx-3">
    <div class="container mt-5 p-4 shadow-lg">
        <h1><a href="#" class="text-decoration-none text-info">{{ post.title }}</a></h1>
        <hr>
        <p>{{ post.description }}</p>
        <hr>
        <h6 class="text-muted small">نویسنده: {{ post.author }}</h6>
        <h6 class="text-muted small">تاریخ ایجاد: {{ post.datetime_created }}</h6>
        <h6 class="text-muted small">تاریخ آخرین ویرایش:  {{ post.datetime_modified }}</h6>
        <h6 class="text-muted small">🧡{{ post.likes }}</h6>
    </div>
    <div class="container mt-5 p-4 shadow">
        {% if comments %}
        {% for comment in comments %}
            {% if comment.hide_name %}
                <h4 class="mt-4">شخص ناشناسی گفته:</h4>
            {% else %}
                <h4 class="mt-4"> {{ comment.name }} گفته:</h4>
            {% endif %}
            <p>{{ comment.comment }}</p>
            <hr>
        {% endfor %}
        {% else %}
            <h4 class="mt-4">اولین نفری باشید که برای این پست کامنت میگذارید.</h4>
        {% endif %}
        </div>
    <div class="container mt-5 p-4 shadow-lg">
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form|crispy }}
            </table>
            <button type="submit" class="btn btn-outline-success mt-4 me-4">ارسال نظر</button>
        </form>
    </div>
</div>
{% endblock content %}